#bubblebox {
  width: 650px;
  height: 250px;
  margin: 50px auto;
  border: 1px solid #aaa;
}
#bubbles {
  width: auto;
  margin: 0px auto;
  text-align: center;
}
#bubbles > div {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 24px 10px 0px 10px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #999;
  border-radius: 100%;
  font-size: 17px;
  text-decoration: none;
  transition: background 0.3s linear 0s;
  cursor: pointer;
}
#bubblecontent {
  margin: 0px auto;
  transition: opacity 0.3s linear 0s;
  font-family: Arial;
}
#bubblecontent > h2 {
  text-align: center;
  color: #7ea800;
}
#bubblecontent > p {
  font-size: 17px;
  line-height: 1.5em;
  padding: 20px 50px;
  color: #777;
}
